<%= form_with(model: matter, local: true) do |form| %>
  <% if matter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(matter.errors.count, "error") %> prohibited this matter from being saved:</h2>

      <ul>
      <% matter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('body.gidappf_entity.matter.attributes.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.matter.attributes.description') %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.matter.attributes.trayect') %>
    <%= form.select :trayect, @selection_trayect %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.matter.attributes.enable') %>
    <%= form.check_box :enable %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
