<div class="field">
  <%= form.label Profile.find(profile_id).profile_keys[nested_index].key %>
  <% if Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id == ClientSideValidator.find_by(content_type: 'GIDAPPF read only').id then %>
    <%= form.text_field :value, :readonly => true %>
  <% elsif Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id == ClientSideValidator.find_by(content_type: 'GIDAPPF alphanumerics').id then %>
    <%= form.text_field :value, onfocusout: ClientSideValidator.find(Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id).script %>
  <% elsif Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id == ClientSideValidator.find_by(content_type: 'GIDAPPF dates').id then %>
    <%=
      if form.object.value.nil?  then
        form.date_field :value, onfocusout: ClientSideValidator.find(Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id).script
      else
        form.date_field :value, value: form.object.value.to_date, onfocusout: ClientSideValidator.find(Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id).script
      end
    %>
  <% elsif Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id == ClientSideValidator.find_by(content_type: 'GIDAPPF matters').id then %>
    <%= form.select :value, Matter.where(enable: true).collect { |m| [ m.name, m.id ] }, include_blank: true, onfocusout: ClientSideValidator.find(Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id).script %>
  <% elsif Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id == ClientSideValidator.find_by(content_type: 'GIDAPPF numbers').id then %>
    <%= form.number_field :value, onfocusout: ClientSideValidator.find(Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id).script %>
  <% elsif Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id == ClientSideValidator.find_by(content_type: 'GIDAPPF trayects').id then %>
    <%= form.text_field :value, onfocusout: ClientSideValidator.find(Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id).script %>
  <% elsif Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id == ClientSideValidator.find_by(content_type: 'GIDAPPF words').id then %>
    <%= form.text_field :value, onfocusout: ClientSideValidator.find(Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id).script %>
  <% else %>
    <%= form.text_field :value, onfocusout: ClientSideValidator.find(Profile.find(profile_id).profile_keys[nested_index].client_side_validator_id).script %>
  <% end %>
</div>
