<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :readonly => true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :valid_to %>
    <%= form.date_field :valid_to, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :valid_from %>
    <%= form.date_field :valid_from, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </div>

  <%= form.fields_for :profile_keys, profile.profile_keys do |nested| %>
    <%= nested.hidden_field :key, :value => Profile.first.profile_keys[nested.index].key %>
    <%= nested.fields_for :profile_values, profile.profile_keys[nested.index].profile_values do |nested2| %>
      <div class="field">
        <%= nested2.label Profile.first.profile_keys[nested.index].key %>
        <% unless nested.index == 2 then %>
          <%= nested2.text_field :value %>
        <% else %>
          <%= nested2.text_field :value, :readonly => true %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
