<%= form_with url: profiles_first_path do |form| %>
  <% if @user.errors.any? then %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>
  <div class="field">
    <%= form.label "Dni" %>
    <%= form.text_field :dni_profile %>
  </div>

  <div class="field">
    <%= form.label "Email" %>
    <%= form.email_field :email_profile , :value => @user.email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
