<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <% form.hidden_field :name, value: form.object.name %>
    <p>
      <%= t('body.gidappf_entity.profile.attributes.name') %>
      <%= form.object.name  %>
    </p>
  </div>

  <div class="field"><%= form.label t('body.gidappf_entity.profile.attributes.description') %><%= form.text_area :description %></div>
  <div class="field"><%= form.label t('body.gidappf_entity.profile.attributes.valid_to') %>
    <%= form.date_field :valid_to, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </div>
  <div class="field"><%= form.label t('body.gidappf_entity.profile.attributes.valid_from') %>
    <%= form.date_field :valid_from, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </div>
    <%= render 'fields_for_profile_keys', profile: profile, form: form  %>
  <div class="actions">
    <%= form.submit class: 'btn btn-default' %>
  </div>
<% end %>
