    <!-- Button trigger modal -->
    <a type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalAcademicHistory">
      <%= t('body.gidappf_entity.profile.action.academic_history.button') %><%= profile.name %>
      <strong>&raquo;</strong>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="ModalAcademicHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel" ><%= t('body.gidappf_entity.profile.action.academic_history.title') %><%= "#{profile.name}, #{profile.name_and_lastname}" %></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table style="width: -moz-available;">
              <tbody>
                <td>
                  <table class='gidappf-table gidappf-index'>
                    <thead>
                      <tr>
                        <th style="width: -moz-available;""><%= t('body.gidappf_entity.profile.action.academic_history.thead_calif') %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% Input.where(id: profile.documents.pluck(:input_id), title: "Student calification").each do |act| %>
                        <tr><td style="width: -moz-available;">
                          <p><%="#{act.summary.split('Reporte de calificaciones individual. ')[1]} "%></p>
                          <p><%="Nota: #{act.info_keys.find_by(key:"Calificación:").info_values.first.value}"%></p>
                        </td></tr>
                      <% end %>
                    </tbody>
                  </table>
                </td>
                <td>
                  <table class='gidappf-table gidappf-index'>
                    <thead>
                      <tr>
                        <th style="width: -moz-available;"><%= t('body.gidappf_entity.profile.action.academic_history.thead_abs') %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% Input.where(id: profile.documents.pluck(:input_id), title: "Student absence").each do |abs| %>
                        <tr><td style="width: -moz-available;">
                          <p>Fecha: <%=abs.created_at.strftime("%d/%m/%Y") %>
                            Horario: <%=abs.info_keys.find_by(key: "Horario:").info_values.first.value%></p>
                          <p>Justificado: <%= abs.info_keys.find_by(key: "Justificado:").info_values.first.value%></p>
                        </td></tr>
                      <% end %>
                    </tbody>
                  </table>
                </td>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true">Cerrar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
