<!-- ########################################################################## -->
<!-- # Universidad Nacional Arturo Jauretche                                  # -->
<!-- # Instituto de Ingeniería y Agronomía -Ingeniería en Informática         # -->
<!-- # Práctica Profesional Supervisada Nro 12 - Segundo cuatrimestre de 2018 # -->
<!-- #    <<Gestión Integral de Alumnos Para el Proyecto Fines>>              # -->
<!-- # Tutores:                                                               # -->
<!-- #    - UNAJ: Dr. Ing. Morales, Martín                                    # -->
<!-- #    - ORGANIZACIÓN: Ing. Cortes Bracho, Oscar                           # -->
<!-- #    - ORGANIZACIÓN: Mg. Ing. Diego Encinas                              # -->
<!-- #    - TAPTA: Dra. Ferrari, Mariela                                      # -->
<!-- # Autor: Ap. Daniel Rosatto <danielrosatto@gmail.com>                    # -->
<!-- # Archivo GIDAPPF/gidappf/app/views/profiles/index.html.erb              # -->
<!-- ########################################################################## -->
<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Valid to</th>
      <th>Valid from</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to "#{profile.name}", profile %></td>
        <td><%= profile.description.first(50)+"…" %></td>
        <td><%= profile.valid_to.strftime("%d/%m/%Y") %></td>
        <td><%= profile.valid_from.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- ############################################################### -->
<!-- # Creación de perfil basado en el parámetro pointer.          # -->
<!-- ############################################################### -->
<% if !params[:role_ids].nil? && params[:role_ids].include?("2") %>
<%= link_to 'New Student', profiles_first_path(pointer: LockEmail::LIST[1]) %>
<% elsif !params[:role_ids].nil? && params[:role_ids].include?("7") %>
<%= link_to 'New Docent', profiles_first_path(pointer: LockEmail::LIST[2]) %>
<% end %>
