<!-- ########################################################################## -->
<!-- # Universidad Nacional Arturo Jauretche                                  # -->
<!-- # Instituto de Ingeniería y Agronomía -Ingeniería en Informática         # -->
<!-- # Práctica Profesional Supervisada Nro 12 - Segundo cuatrimestre de 2018 # -->
<!-- #    <<Gestión Integral de Alumnos Para el Proyecto Fines>>              # -->
<!-- # Tutores:                                                               # -->
<!-- #    - UNAJ: Dr. Ing. Morales, Martín                                    # -->
<!-- #    - ORGANIZACIÓN: Ing. Cortes Bracho, Oscar                           # -->
<!-- #    - ORGANIZACIÓN: Mg. Ing. Diego Encinas                              # -->
<!-- #    - TAPTA: Dra. Ferrari, Mariela                                      # -->
<!-- # Autor: Ap. Daniel Rosatto <danielrosatto@gmail.com>                    # -->
<!-- # Archivo GIDAPPF/gidappf/app/views/profiles/index.html.erb              # -->
<!-- ########################################################################## -->
<p id="notice"><%= notice %></p>

<h1>
  <% if !params[:role_ids].nil? && params[:role_ids].include?(Role.find_by(enabled: true, level: 20.0).id.to_s) %>
    <%= t('body.gidappf_entity.profile.action.index.student') %>
  <% elsif !params[:role_ids].nil? && params[:role_ids].include?(Role.find_by(enabled: true, level: 29.0).id.to_s) %>
    <%= t('body.gidappf_entity.profile.action.index.docent') %>
  <% else %>
    <%= t('body.gidappf_entity.profile.models') %>
  <% end %>
</h1>

<table class='gidappf-table gidappf-index'>
  <thead>
    <tr>
      <th style="width: 16.6%;"><%= t('body.gidappf_entity.profile.attributes.name') %></th>
      <th style="width: 29.8%;"><%= t('body.gidappf_entity.profile.attributes.description') %></th>
      <th style="width: 16.6%;"><%= t('body.gidappf_entity.profile.attributes.valid_to') %></th>
      <th style="width: 16.6%;"><%= t('body.gidappf_entity.profile.attributes.valid_from') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td style="width: 16.6%;">
          <% if !params[:role_ids].nil? && params[:role_ids].include?(Role.find_by(enabled: true, level: 20.0).id.to_s) %>
            <%= link_to "#{profile.name}", profile %>
          <% elsif !params[:role_ids].nil? && params[:role_ids].include?(Role.find_by(enabled: true, level: 29.0).id.to_s) && !profile.name_and_lastname.eql?('  ') %>
            <%= link_to profile.name_and_lastname, profile %>
          <% elsif !params[:role_ids].nil? && params[:role_ids].include?(Role.find_by(enabled: true, level: 29.0).id.to_s) && profile.name_and_lastname.eql?('  ') %>
            <%= link_to "#{profile.name}", profile %>
          <% else %>
            <%= link_to "#{profile.id.to_s}", profile %>
          <% end %>
        </td>
        <td style="width: 29.8%;">
          <% if profile.description.length > 50 then %>
            <%= profile.description.first(50)+"…" %>
          <% else %>
            <%= profile.description %>
          <% end %>
        </td>
        <td style="width: 16.6%;"><%= profile.valid_to.strftime("%d/%m/%Y") %></td>
        <td style="width: 16.6%;"><%= profile.valid_from.strftime("%d/%m/%Y") %></td>
        <td style="width: 10%;"><%= link_to t('body.common_entity.action.edit'), edit_profile_path(profile) %></td>
        <td style="width: 10%;"><%= link_to t('body.common_entity.action.destroy'), profile, method: :delete, data: { confirm: t('body.common_entity.action.confirm_msg') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- ############################################################### -->
<!-- # Creación de perfil basado en el parámetro pointer.          # -->
<!-- ############################################################### -->
<% if !params[:role_ids].nil? && params[:role_ids].include?(Role.find_by(enabled: true, level: 20.0).id.to_s) %>
  <%= link_to t(' '), profiles_first_path(pointer: LockEmail::LIST[4]), class: "gidappf-plus-button gidappf-plus-button--large" %>
<% elsif !params[:role_ids].nil? && params[:role_ids].include?(Role.find_by(enabled: true, level: 29.0).id.to_s) %>
  <%= link_to t(' '), profiles_first_path(pointer: LockEmail::LIST[3]), class: "gidappf-plus-button gidappf-plus-button--large" %>
<% end %>
