<p id="notice"><%= notice %></p>

<h3>
  <strong>Profile name:</strong>
  <%= @profile.name %>
</h3>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Valid to:</strong>
  <%= @profile.valid_to %>
</p>

<p>
  <strong>Valid from:</strong>
  <%= @profile.valid_from %>
</p>

<% @profile.profile_keys.each do |s| %>
  <p><strong><%= s.key %></strong>
  <% s.profile_values.each do |e| %>
    <span><%= e.value %></span>
  <% end %></p>
<% end %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
