<p id="notice"><%= notice %></p>

<h3>
  <%= "#{t('body.gidappf_entity.profile.attributes.name')}:"  %>
  <strong><%= @profile.name %></strong>
</h3>

<% if @profile.cover_photo.attached? then %>
  <%= image_tag url_for(@profile.cover_photo) %>
  <%= link_to @profile.cover_photo.filename, rails_blob_path(@profile.cover_photo, disposition: "attachment") %>
<% end %>

<p>
  <%= "#{t('body.gidappf_entity.profile.attributes.description')}:"  %>
  <strong><%= @profile.description %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.profile.attributes.valid_to')}:"  %>
  <strong><%= @profile.valid_to %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.profile.attributes.valid_from')}:"  %>
  <strong><%= @profile.valid_from %></strong>
</p>

<% @profile.profile_keys.each do |s| %>
  <p><%= s.key %>
  <% s.profile_values.each do |e| %>
    <strong><span><%= e.value %></span></strong>
  <% end %></p>
<% end %>

<%= link_to  t('body.common_entity.action.edit'), edit_profile_path(@profile) %> |
<%= link_to  t('body.common_entity.action.back'), profiles_path %>
