<p id="notice"><%= notice %></p>

<h3>Profile name:
  <strong><%= @profile.name %></strong>
</h3>

<p>Description:
  <strong><%= @profile.description %></strong>
</p>

<p>Valid to:
  <strong><%= @profile.valid_to %></strong>
</p>

<p>Valid from:
  <strong><%= @profile.valid_from %></strong>
</p>

<% @profile.profile_keys.each do |s| %>
  <p><%= s.key %>
  <% s.profile_values.each do |e| %>
    <strong><span><%= e.value %></span></strong>
  <% end %></p>
<% end %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
