<div class="about-header">
  <div class="header-iia col-12">
    <%= image_tag("layout/logo-iia-unaj.png", class: "col-5") %>
    <%= image_tag("layout/logo-TICAPPS-2019-01.jpg", class: "col-5") %>
  </div>
</div>

<div class="content">
  <div class="content-iia col-12">
    <ul>
      <li>
        <div class="item col-11">
          <div class="item-content col-10">
            <div class="photo col-1">
              <%= image_tag("layout/user0.png", class: "photo1 col-12") %>
            </div>
            <div class="desc col-8">
              <p>Autor:</p>
              <p>Ing. Daniel Rosatto</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item col-11">
          <div class="item-content col-10">
            <div class="photo col-1">
              <%= image_tag("layout/user1.png", class: "photo1 col-12") %>
            </div>
            <div class="desc col-8">
              <p>Docente supervisor:</p>
              <p>Dr. Ing. Martín Morales</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item col-11">
          <div class="item-content col-10">
            <div class="photo col-1">
              <%= image_tag("layout/user3.png", class: "photo1 col-12") %>
            </div>
            <div class="desc col-8">
              <p>Tutor organizacional:</p>
              <p>Mg. Ing. Diego Encinas</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item col-11">
          <div class="item-content col-10">
            <div class="photo col-1">
              <%= image_tag("layout/user2.jpg", class: "photo1 col-12") %>
            </div>
            <div class="desc col-8">
              <p>Tutor organizacional:</p>
              <p>Ing. Oscar Cortes Bracho</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item col-11">
          <p>Contacto: <a href="mailto:ingenieriainformatica@unaj.edu.ar"> ingenieriainformatica@unaj.edu.ar </a></p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="about-footer">
  <div class="footer-iia col-12">
     <%= link_to ' ', root_path, class: "gidappf-home-button gidappf-home-button--large" %>
  </div>
</div>
