<div class="about-header">
  <div class="header-iia col-12">
    <%= link_to (image_tag(@logo_iia_unaj.active_stored, class: "col-4")), root_path %>
  </div>
</div>

<div class="about-nav">
  <div class="nav-iia col-12">
    <h1>Programa: Tecnologías de la Información y la Comunicación (TIC) en aplicaciones de interés social</h1>
  </div>
</div>

<div class="content">
  <div class="content-iia col-12">
    <ul>
      <li>
        <div class="item col-11">
          <div class="item-content col-10">
            <div class="photo col-1">
              <%= image_tag(@user0.active_stored, class: "photo1 col-12") %>
            </div>
            <div class="desc col-8">
              <p>Autor:</p>
              <p>Ing. Daniel Rosatto</p>
              <p>&lt;<a href="mailto:danielrosatto@gmail.com"> danielrsatto@gmail.com </a>&gt;</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item col-11">
          <div class="item-content col-10">
            <div class="photo col-1">
              <%= image_tag(@user1.active_stored, class: "photo1 col-12") %>
            </div>
            <div class="desc col-8">
              <p>Docente supervisor:</p>
              <p>Dr. Ing. Martín Morales</p>
              <p>&lt;<a href="mailto:martinmorales@unaj.edu.ar"> martinmorales@unaj.edu.ar </a>&gt;</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item col-11">
          <div class="item-content col-10">
            <div class="photo col-1">
              <%= image_tag(@user2.active_stored, class: "photo1 col-12") %>
            </div>
            <div class="desc col-8">
              <p>Tutor organizacional:</p>
              <p>Mg. Ing. Diego Encinas</p>
              <p>&lt;<a href="mailto:dencines@unaj.edu.ar"> dencinas@unaj.edu.ar </a>&gt;</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item col-11">
          <div class="item-content col-10">
            <div class="photo col-1">
              <%= image_tag(@user3.active_stored, class: "photo1 col-12") %>
            </div>
            <div class="desc col-8">
              <p>Tutor organizacional:</p>
              <p>Ing. Oscar Cortes Bracho</p>
              <p>&lt;<a href="mailto:ocortesbracho@unaj.edu.ar"> ocortesbracho@unaj.edu.ar </a>&gt;</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="about-footer">
  <div class="footer-iia col-12">
     <%= link_to ' ', root_path, class: "gidappf-home-button gidappf-home-button--large" %>
  </div>
</div>
