<%= form_with(model: input, local: true) do |form| %>
  <% if input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(input.errors.count, "error") %> prohibited this input from being saved:</h2>

      <ul>
      <% input.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary %>
  </div>

  <div class="field">
    <%= form.label :grouping %>
    <%= form.check_box :grouping %>
  </div>

  <div class="field">
    <%= form.label :enable %>
    <%= form.check_box :enable %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

    <%= render 'fields_for_info_keys', input: input, form: form  %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
