<!-- ########################################################################## -->
<!-- # Universidad Nacional Arturo Jauretche                                  # -->
<!-- # Instituto de Ingeniería y Agronomía -Ingeniería en Informática         # -->
<!-- # Práctica Profesional Supervisada Nro 12 - Segundo cuatrimestre de 2018 # -->
<!-- #    <<Gestión Integral de Alumnos Para el Proyecto Fines>>              # -->
<!-- # Tutores:                                                               # -->
<!-- #    - UNAJ: Dr. Ing. Morales, Martín                                    # -->
<!-- #    - ORGANIZACIÓN: Ing. Cortes Bracho, Oscar                           # -->
<!-- #    - ORGANIZACIÓN: Mg. Ing. Diego Encinas                              # -->
<!-- #    - TAPTA: Dra. Ferrari, Mariela                                      # -->
<!-- # Autor: Ap. Daniel Rosatto <danielrosatto@gmail.com>                    # -->
<!-- # Archivo:                                                               # -->
<!-- # GIDAPPF/gidappf/app/views/inputs/_form.html.erb                        # -->
<!-- ########################################################################## -->
<%= form_with(model: input, local: true) do |form| %>
  <% if input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(input.errors.count, "error") %> prohibited this input from being saved:</h2>

      <ul>
      <% input.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('body.gidappf_entity.input.attributes.title') %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.input.attributes.summary') %>
    <%= form.text_area :summary %>
  </div>

  <div class="field">
    <%= form.label  t('body.gidappf_entity.input.attributes.enable') %>
    <%= form.check_box :enable %>
  </div>

  <%= form.hidden_field :grouping %>

  <div class="field">
    <%= form.label  t('body.gidappf_entity.input.attributes.author') %>
    <%= form.text_field :author %>
  </div>
  <% if form.object.grouping? %>
    <%= render 'table_for_info_keys', input: input, form: form  %>
  <% else %>
    <%= render 'fields_for_info_keys', input: input, form: form  %>
  <% end %>

  <div class="actions">
    <%= form.submit class: 'btn btn-default' %>
  </div>
<% end %>
