<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Summary</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% inputs.each do |input| %>
      <tr>
        <td><%= input.documents.first.id %></td>
        <td><%= link_to "#{input.title}", input %></td>
        <td><%= input.summary %></td>
        <td><%= link_to 'Edit', edit_input_path(input) %></td>
        <td><%= link_to 'Destroy', input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
