<table>
  <thead>
    <tr>
      <th>Id</th>
      <th><%= t('body.gidappf_entity.input.attributes.title')  %></th>
      <th><%= t('body.gidappf_entity.input.attributes.summary')  %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% inputs.where(enable: true).each do |input| %>
      <tr>
        <td><%= input.documents.first.id %></td>
        <td><%= link_to "#{input.title}", input %></td>
        <td>
          <% if input.summary.length > 50 then %>
            <%= input.summary.first(50)+"…" %>
          <% else %>
            <%= input.summary %>
          <% end %>
        </td>
        <td><%= link_to t('body.common_entity.action.destroy'), disable_input_path(input), data: { confirm: t('body.common_entity.action.confirm_msg') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
