<p id="notice"><%= notice %></p>

<p>Title:<strong><%= @input.title %></strong></p>

<p>Summary:<strong><%= @input.summary %></strong></p>

<p>Enable:<strong><%= @input.enable %></strong></p>

<p>Author:<strong><%= @input.author %></strong></p>

<% unless @input.grouping? %>
  <% @input.info_keys.each do |s| %>
    <p><%= s.key %>
    <% s.info_values.each do |e| %>
      <strong><span><%= e.value %></span></strong>
    <% end %></p>
  <% end %>
<% else %>
  <table>
    <thead>
       <tr>
          <% @input.info_keys.each do |s| %>
            <th><%= s.key %></th>
          <% end %>
       </tr>
    </thead>
    <tbody remote="true">
      <tr>
        <% @input.info_keys.each do |s| %>
          <td>
            <% s.info_values.each do |e| %>
              <p><%= e.value %></p>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>
<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
