<h1>Setsusersaccess#settings</h1>
<table>
  <thead>
    <tr>
      <th>Profile</th>
      <th>Email</th>
      <th>Commission</th>
      <th colspan=".<%= @roleOpts.count.to_s %>." >Role:</th>
    </tr>
  </thead>

  <tbody remote="true">
    <% @usercommissionroles.each do |u| %>
      <tr>
        <td><%= unless u.user.documents.empty? then
          link_to "#{u.user.documents.first.profile.name}", profile_path(id:u.user.documents.first.profile.id)
          end
          %></td>
        <td><%= u.user.email.first(15)+"…" %></td>
        <td><%= u.commission.name %></td>
        <% @roleOpts.each do |r| %>
            <td>
              <%=
                radio_button_tag(
                  "u_"+u.id.to_s+"_"+:radio_selected.to_s,
                  r.id,
                  (r.id == u.role_id),
                  onclick:
                    "$(document).ready(function() {
                      window.location.href='"+edit_usercommissionrole_path(id: u.id, radio_selected: r.id.to_s)+"'
                    });",
                :disabled => !r.enabled
                )%>
              <%= label_tag(r.name) %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
