<%= form_with(model: time_sheet, local: true) do |form| %>
  <% if time_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_sheet.errors.count, "error") %> prohibited this time_sheet from being saved:</h2>

      <ul>
      <% time_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :commission_id, value: params[:commission_id] %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, as: :date, value: form.object.try(:strftime,"%d/%m/%Y"), class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, as: :date, value: form.object.try(:strftime,"%d/%m/%Y"), class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :enabled %>
    <%= form.check_box :enabled %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
