<p id="notice"><%= notice %></p>

<h1>Expired time sheets</h1>
<p>Start: 13 months ago ~ today & End: 1 month ago ~ today</p>

<table>
  <thead>
    <tr>
      <th>Commission</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_sheets.each do |time_sheet| %>
      <tr>
        <td><%= link_to "#{time_sheet.commission.name}", time_sheet %></td>
        <td><%= time_sheet.start_date.strftime("%d/%m/%Y") %></td>
        <td><%= time_sheet.end_date.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Edit', edit_time_sheet_path(time_sheet) %></td>
        <td><%= link_to 'Destroy', time_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Renew all', time_sheets_renew_all_path %>
<hr>
<h1>All</h1>

<table>
  <thead>
    <tr>
      <th>Commission</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_sheets1.each do |time_sheet| %>
      <tr>
        <td><%= link_to "#{time_sheet.commission.name}", time_sheet %></td>
        <td><%= time_sheet.start_date.strftime("%d/%m/%Y") %></td>
        <td><%= time_sheet.end_date.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Edit', edit_time_sheet_path(time_sheet) %></td>
        <td><%= link_to 'Destroy', time_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
