<%= form_with url: time_sheet_hours_multiple_new_path do |form| %>
  <% if @time_sheet_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_sheet_hour.errors.count, "error") %> prohibited this time_sheet_hour from being saved:</h2>

      <ul>
      <% @time_sheet_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from_hour %>
    <%= form.number_field :from_hour %>
  </div>

  <div class="field">
    <%= form.label :from_min %>
    <%= form.number_field :from_min %>
  </div>

  <div class="field">
    <%= form.label :to_hour %>
    <%= form.number_field :to_hour %>
  </div>

  <div class="field">
    <%= form.label :to_min %>
    <%= form.number_field :to_min %>
  </div>

  <div class="field">
    <%= form.label :monday %>
    <%= form.check_box :monday %>
  </div>

  <div class="field">
    <%= form.label :tuesday %>
    <%= form.check_box :tuesday %>
  </div>

  <div class="field">
    <%= form.label :wednesday %>
    <%= form.check_box :wednesday %>
  </div>

  <div class="field">
    <%= form.label :thursday %>
    <%= form.check_box :thursday %>
  </div>

  <div class="field">
    <%= form.label :friday %>
    <%= form.check_box :friday %>
  </div>

  <div class="field">
    <%= form.label :saturday %>
    <%= form.check_box :saturday %>
  </div>

  <div class="field">
    <%= form.label :sunday %>
    <%= form.check_box :sunday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
