<%= form_with url: time_sheet_hours_multiple_new_path do |form| %>
  <% if @time_sheet_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_sheet_hour.errors.count, "error") %> prohibited this time_sheet_hour from being saved:</h2>

      <ul>
      <% @time_sheet_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label t('body.gidappf_entity.time_sheet_hour.attributes.matter') %>
    <%= form.select :matter_id, matters.collect { |m| [ m.name, m.id ] }, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.time_sheet_hour.attributes.from_hour') %>
    <%= form.number_field :from_hour %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.time_sheet_hour.attributes.from_min') %>
    <%= form.number_field :from_min %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.time_sheet_hour.attributes.to_hour') %>
    <%= form.number_field :to_hour %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.time_sheet_hour.attributes.to_min') %>
    <%= form.number_field :to_min %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.time_sheet_hour.attributes.monday') %>
    <%= form.check_box :monday %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.time_sheet_hour.attributes.tuesday') %>
    <%= form.check_box :tuesday %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.time_sheet_hour.attributes.wednesday') %>
    <%= form.check_box :wednesday %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.time_sheet_hour.attributes.thursday') %>
    <%= form.check_box :thursday %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.time_sheet_hour.attributes.friday') %>
    <%= form.check_box :friday %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.time_sheet_hour.attributes.saturday') %>
    <%= form.check_box :saturday %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.time_sheet_hour.attributes.sunday') %>
    <%= form.check_box :sunday %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-default' %>
  </div>
<% end %>
