<p id="notice"><%= notice %></p>

<h1>Commissions</h1>

<table>
  <thead>
    <tr>
      <th>Commission</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Select</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_sheets.each do |time_sheet| %>
      <tr>
        <td><%= time_sheet.commission.name %></td>
        <td><%= time_sheet.start_date.strftime("%v") %></td>
        <td><%= time_sheet.end_date.strftime("%v") %></td>
        <td><%= check_box("puppy", "gooddog", {}, true, false) %></td>
        <td><%= link_to 'Show', time_sheet %></td>
        <td><%= link_to 'Edit', edit_time_sheet_path(time_sheet) %></td>
        <td><%= link_to 'Destroy', time_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Time Sheet Hour', nil %>
<br>
<h1>Class Room Institutes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ubication</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_room_institutes.each do |class_room_institute| %>
      <tr>
        <td><%= class_room_institute.name %></td>
        <td><%= class_room_institute.ubication %></td>
        <td><%= hours_free(class_room_institute,0) %></td>
        <td><%= hours_free(class_room_institute,1) %></td>
        <td><%= hours_free(class_room_institute,2) %></td>
        <td><%= hours_free(class_room_institute,3) %></td>
        <td><%= hours_free(class_room_institute,4) %></td>
        <td><%= hours_free(class_room_institute,5) %></td>
        <td><%= hours_free(class_room_institute,6) %></td>
        <td><%= link_to 'Show', class_room_institute %></td>
        <td><%= link_to 'Edit', edit_class_room_institute_path(class_room_institute) %></td>
        <td><%= link_to 'Destroy', class_room_institute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Time Sheet Hours</h1>

<table>
  <thead>
    <tr>
      <th>Commission</th>
      <th>Vacancy</th>
      <th>Hour occupied</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_sheet_hours.each do |time_sheet_hour| %>
      <tr>
        <td><%= time_sheet_hour.time_sheet.commission.name %></td>
        <td><%= time_sheet_hour.vacancy.occupant %></td>
        <td><%= occupied_hour_fmt(time_sheet_hour) %></td>
        <td><%= if time_sheet_hour.monday then '✓' end %></td>
        <td><%= if time_sheet_hour.tuesday then '✓' end %></td>
        <td><%= if time_sheet_hour.wednesday then '✓' end %></td>
        <td><%= if time_sheet_hour.thursday then '✓' end %></td>
        <td><%= if time_sheet_hour.friday then '✓' end %></td>
        <td><%= if time_sheet_hour.saturday then '✓' end %></td>
        <td><%= if time_sheet_hour.sunday then '✓' end %></td>
        <td><%= link_to 'Show', time_sheet_hour %></td>
        <td><%= link_to 'Edit', edit_time_sheet_hour_path(time_sheet_hour) %></td>
        <td><%= link_to 'Destroy', time_sheet_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Sheet Hour', new_time_sheet_hour_path %>
