<p id="notice"><%= notice %></p>

<h1>Time Sheet Hours</h1>

<table>
  <thead>
    <tr>
      <th>Commission</th>
      <th>Vacancy</th>
      <th>From hour</th>
      <th>From min</th>
      <th>To hour</th>
      <th>To min</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_sheet_hours.each do |time_sheet_hour| %>
      <tr>
        <td><%= time_sheet_hour.time_sheet.commission.name %></td>
        <td><%= time_sheet_hour.vacancy.occupant %></td>
        <td><%= time_sheet_hour.from_hour %></td>
        <td><%= time_sheet_hour.from_min %></td>
        <td><%= time_sheet_hour.to_hour %></td>
        <td><%= time_sheet_hour.to_min %></td>
        <td><%= time_sheet_hour.monday %></td>
        <td><%= time_sheet_hour.tuesday %></td>
        <td><%= time_sheet_hour.wednesday %></td>
        <td><%= time_sheet_hour.thursday %></td>
        <td><%= time_sheet_hour.friday %></td>
        <td><%= time_sheet_hour.saturday %></td>
        <td><%= time_sheet_hour.sunday %></td>
        <td><%= link_to 'Show', time_sheet_hour %></td>
        <td><%= link_to 'Edit', edit_time_sheet_hour_path(time_sheet_hour) %></td>
        <td><%= link_to 'Destroy', time_sheet_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Sheet Hour', new_time_sheet_hour_path %>
