<p id="notice"><%= notice %></p>

<p>
  <%= "#{t('body.gidappf_entity.matter.model')}:"  %>
  <strong><%= @time_sheet_hour.matter.name %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.time_sheet_hour.attributes.from_hour')}:"  %>
  <strong><%= @time_sheet_hour.from_hour %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.time_sheet_hour.attributes.from_min')}:"  %>
  <strong><%= @time_sheet_hour.from_min %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.time_sheet_hour.attributes.to_hour')}:"  %>
  <strong><%= @time_sheet_hour.to_hour %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.time_sheet_hour.attributes.to_min')}:"  %>
  <strong><%= @time_sheet_hour.to_min %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.time_sheet_hour.attributes.monday')}:"  %>
  <strong><%= @time_sheet_hour.monday %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.time_sheet_hour.attributes.tuesday')}:"  %>
  <strong><%= @time_sheet_hour.tuesday %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.time_sheet_hour.attributes.wednesday')}:"  %>
  <strong><%= @time_sheet_hour.wednesday %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.time_sheet_hour.attributes.thursday')}:"  %>
  <strong><%= @time_sheet_hour.thursday %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.time_sheet_hour.attributes.friday')}:"  %>
  <strong><%= @time_sheet_hour.friday %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.time_sheet_hour.attributes.saturday')}:"  %>
  <strong><%= @time_sheet_hour.saturday %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.time_sheet_hour.attributes.sunday')}:"  %>
  <strong><%= @time_sheet_hour.sunday %></strong>
</p>

<%= link_to t('body.common_entity.action.edit'), edit_time_sheet_hour_path(@time_sheet_hour) %> |
<%= link_to t('body.common_entity.action.back'), time_sheet_hours_path %>
