<h1><%= t ('gidappf_catchs_exception.disabled_cookies_detect.title') %></h1>
<p><%= t ('gidappf_catchs_exception.summary') %></p>
<p class="lead">
  <ul>
    <li>
      <p><%= t ('gidappf_catchs_exception.line1') %></p>
    </li>
    <li>
      <p> <%= t ('gidappf_catchs_exception.line2') %> <%= link_to( 'chrome://settings/content/cookies','chrome://settings/content/cookies') %>  <%= t ('gidappf_catchs_exception.line3') %></p>
    </li>
  </ul>
</p>
