<p id="notice"><%= notice %></p>

<h1>Usercommissionroles</h1>

<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>User</th>
      <th>Commission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usercommissionroles.each do |usercommissionrole| %>
      <tr>
        <td><%= usercommissionrole.role %></td>
        <td><%= usercommissionrole.user %></td>
        <td><%= usercommissionrole.commission %></td>
        <td><%= link_to 'Show', usercommissionrole %></td>
        <td><%= link_to 'Edit', edit_usercommissionrole_path(usercommissionrole) %></td>
        <td><%= link_to 'Destroy', usercommissionrole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usercommissionrole', new_usercommissionrole_path %>
