<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @usercommissionrole.role %>
</p>

<p>
  <strong>User:</strong>
  <%= @usercommissionrole.user %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @usercommissionrole.commission %>
</p>

<%= link_to 'Edit', edit_usercommissionrole_path(@usercommissionrole) %> |
<%= link_to 'Back', setsusersaccess_settings_path %>
