<%= form_with(model: role, local: true) do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t('body.gidappf_entity.role.attributes.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= t('body.gidappf_entity.role.attributes.description') %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= t('body.gidappf_entity.role.attributes.created_at') %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= t('body.gidappf_entity.role.attributes.enabled') %>
    <%= form.check_box :enabled %>
  </div>

  <div class="field">
    <%= t('body.gidappf_entity.role.attributes.level') %>
    <%= form.text_field :level %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-default' %>
  </div>
<% end %>
