<p id="notice"><%= notice %></p>

<h1><%= t('body.gidappf_entity.role.models')  %></h1>

<table class='gidappf-table'>
  <thead>
    <tr>
      <th><%= t('body.gidappf_entity.role.attributes.name')  %></th>
      <th><%= t('body.gidappf_entity.role.attributes.description')  %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= link_to "#{role.name}", role %></td>
        <td>
          <% if role.description.length > 50 then %>
            <%= role.description.first(50)+"…" %>
          <% else %>
            <%= role.description %>
          <% end %>
        </td>
        <td><%= link_to t('body.common_entity.action.edit'), edit_role_path(role) %></td>
        <td><%= link_to t('body.common_entity.action.destroy'), role, method: :delete, data: { confirm: t('body.common_entity.action.confirm_msg') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('body.common_entity.action.new')} #{t('body.gidappf_entity.role.model')}", new_role_path %>
