<p id="notice"><%= notice %></p>

<p>
  <%= "#{t('body.gidappf_entity.role.attributes.name')}:"  %>
  <strong><%= @role.name %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.role.attributes.description')}:"  %>
  <strong><%= @role.description %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.role.attributes.created_at')}:"  %>
  <strong><%= @role.created_at %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.role.attributes.enabled')}:"  %>
  <strong><%= @role.enabled %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.role.attributes.level')}:"  %>
  <strong><%= @role.level %></strong>
</p>

<%= link_to t('body.common_entity.action.edit'), edit_role_path(@role) %> |
<%= link_to t('body.common_entity.action.back'), roles_path %>
