<li><%= link_to 'Profiles', profiles_path(role_ids: [1,2,6]) %></li>
<li><%= link_to 'Commissions', commissions_path %></li>
<li><%= link_to 'Hours', time_sheet_hours_path %></li>
<li><%= link_to 'Classrooms', class_room_institutes_path %></li>
<li><%= link_to 'Roles', roles_path %></li>
