<!-- ########################################################################## -->
<!-- # Universidad Nacional Arturo Jauretche                                  # -->
<!-- # Instituto de Ingeniería y Agronomía -Ingeniería en Informática         # -->
<!-- # Práctica Profesional Supervisada Nro 12 - Segundo cuatrimestre de 2018 # -->
<!-- #    <<Gestión Integral de Alumnos Para el Proyecto Fines>>              # -->
<!-- # Tutores:                                                               # -->
<!-- #    - UNAJ: Dr. Ing. Morales, Martín                                    # -->
<!-- #    - ORGANIZACIÓN: Ing. Cortes Bracho, Oscar                           # -->
<!-- #    - ORGANIZACIÓN: Mg. Ing. Diego Encinas                              # -->
<!-- #    - TAPTA: Dra. Ferrari, Mariela                                      # -->
<!-- # Autor: Ap. Daniel Rosatto <danielrosatto@gmail.com>                    # -->
<!-- # Archivo GIDAPPF/gidappf/app/views/layouts/_twenty_links.html.erb       # -->
<!-- ########################################################################## -->
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=t('layout.nav.dropdown.site')%><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to t('layout.nav.part.link_20.hr_list'), time_sheet_hours_path %></li>
    <li><%= link_to t('layout.nav.part.link_20.cri_list'), class_room_institutes_path %></li>
  </ul>
</li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=t('layout.nav.dropdown.yours')%><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to t('layout.nav.part.link_20.stu_list'), profiles_path(role_ids: [Role.find_by(enabled: true, level: 10.0).id,Role.find_by(enabled: true, level: 20.0).id,Role.find_by(enabled: false, level: 10.0).id,Role.find_by(enabled: false, level: 20.0).id]) %></li>
    <li><%= link_to t('layout.nav.part.link_20.dcn_list'), profiles_path(role_ids: [Role.find_by(enabled: true, level: 29.0).id,Role.find_by(enabled: false, level: 29.0).id]) %></li>
    <li><%= link_to t('layout.nav.part.link_20.comm_list'), time_sheet_hours_current_commissions_path %></li>
    <li><%= link_to t('layout.nav.part.link_20.in_list'), inputs_path %></li>
  </ul>
</li>
