<%= form_with(model: commission, local: true) do |form| %>
  <% if commission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commission.errors.count, "error") %> prohibited this commission from being saved:</h2>

      <ul>
      <% commission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('body.gidappf_entity.commission.attributes.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.commission.attributes.description') %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.commission.attributes.start_date') %>
    <%= form.date_field :start_date, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label t('body.gidappf_entity.commission.attributes.end_date') %>
    <%= form.date_field :end_date, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
