<p id="notice"><%= notice %></p>

<h1><%= t('body.gidappf_entity.commission.models')  %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('body.gidappf_entity.commission.attributes.name')  %></th>
      <th><%= t('body.gidappf_entity.commission.attributes.description')  %></th>
      <th><%= t('body.gidappf_entity.commission.attributes.start_date')  %></th>
      <th><%= t('body.gidappf_entity.commission.attributes.end_date')  %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @commissions.each do |commission| %>
      <tr>
        <td><%= link_to "#{commission.name}", commission %></td>
        <td><%= commission.description %></td>
        <td><%= commission.start_date.strftime("%d/%m/%Y") %></td>
        <td><%= commission.end_date.strftime("%d/%m/%Y") %></td>
        <td><%= link_to link_to t('body.common_entity.action.edit'), edit_commission_path(commission) %></td>
        <td><%= link_to t('body.common_entity.action.destroy'), commission, method: :delete, data: { confirm: t('body.common_entity.action.confirm_msg') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('body.common_entity.action.new_her')} #{t('body.gidappf_entity.commission.model')}", new_commission_path %>
