<p id="notice"><%= notice %></p>

<p>
  <%= "#{t('body.gidappf_entity.commission.attributes.name')}:"  %>
  <strong><%= @commission.name %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.commission.attributes.description')}:"  %>
  <strong><%= @commission.description %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.commission.attributes.start_date')}:"  %>
  <strong><%= @commission.start_date %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.commission.attributes.end_date')}:"  %>
  <strong><%= @commission.end_date %></strong>
</p>

<%= link_to t('body.common_entity.action.edit'), edit_commission_path(@commission) %> |
<%= link_to t('body.common_entity.action.back'), commissions_path %>
