<p id="notice"><%= notice %></p>

<h1><%= t('body.gidappf_entity.class_room_institute.models')  %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.name')  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.ubication')  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_monday')  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_tuesday')  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_wednesday')  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_thursday')  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_friday')  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_saturday')  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_sunday')  %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_room_institutes.each do |class_room_institute| %>
      <tr>
        <td><%= class_room_institute.name %></td>
        <td><%= class_room_institute.ubication %></td>
        <td><%= class_room_institute.available_monday %></td>
        <td><%= class_room_institute.available_tuesday %></td>
        <td><%= class_room_institute.available_wednesday %></td>
        <td><%= class_room_institute.available_thursday %></td>
        <td><%= class_room_institute.available_friday %></td>
        <td><%= class_room_institute.available_saturday %></td>
        <td><%= class_room_institute.available_sunday %></td>
        <td><%= link_to t('body.common_entity.action.show'), class_room_institute %></td>
        <td><%= link_to t('body.common_entity.action.edit'), edit_class_room_institute_path(class_room_institute) %></td>
        <td><%= link_to t('body.common_entity.action.destroy'), class_room_institute, method: :delete, data: { confirm: t('body.common_entity.action.comfirm_msg') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('body.common_entity.action.new_her')} #{t('body.gidappf_entity.class_room_institute.model')}", new_class_room_institute_path %>
