<p id="notice"><%= notice %></p>

<h1><%= t('body.gidappf_entity.class_room_institute.models')  %></h1>

<table class='gidappf-table'>
  <thead>
    <tr>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.name')  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.ubication')  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_monday').split(' ').last.first(3).capitalize  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_tuesday').split(' ').last.first(3).capitalize  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_wednesday').split(' ').last.first(3).capitalize  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_thursday').split(' ').last.first(3).capitalize  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_friday').split(' ').last.first(3).capitalize  %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_saturday').split(' ').last.first(3).capitalize %></th>
      <th><%= t('body.gidappf_entity.class_room_institute.attributes.available_sunday').split(' ').last.first(3).capitalize %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_room_institutes.each do |class_room_institute| %>
      <tr>
        <td><%= link_to "#{class_room_institute.name}", class_room_institute %></td>
        <td><%= class_room_institute.ubication %></td>
        <td><%= if class_room_institute.available_monday then '✓' end %></td>
        <td><%= if class_room_institute.available_tuesday then '✓' end %></td>
        <td><%= if class_room_institute.available_wednesday then '✓' end %></td>
        <td><%= if class_room_institute.available_tuesday then '✓' end %></td>
        <td><%= if class_room_institute.available_friday then '✓' end %></td>
        <td><%= if class_room_institute.available_saturday then '✓' end %></td>
        <td><%= if class_room_institute.available_sunday then '✓' end %></td>
        <td><%= link_to t('body.common_entity.action.edit'), edit_class_room_institute_path(class_room_institute) %></td>
        <td><%= link_to t('body.common_entity.action.destroy'), class_room_institute, method: :delete, data: { confirm: t('body.common_entity.action.confirm_msg') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('body.common_entity.action.new_her')} #{t('body.gidappf_entity.class_room_institute.model')}", new_class_room_institute_path %>
