<p id="notice"><%= notice %></p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.name')}:"  %>
  <strong><%= @class_room_institute.name %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.description')}:"  %>
  <strong><%= @class_room_institute.description %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.ubication')}:"  %>
  <strong><%= @class_room_institute.ubication %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.available_from')}:"  %>
  <strong><%= @class_room_institute.available_from %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.available_to')}:"  %>
  <strong><%= @class_room_institute.available_to %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.available_monday')}:"  %>
  <strong><%= if @class_room_institute.available_monday then '✓' end %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.available_tuesday')}:"  %>
  <strong><%= if @class_room_institute.available_tuesday then '✓' end %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.available_wednesday')}:"  %>
  <strong><%= if @class_room_institute.available_wednesday then '✓' end %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.available_thursday')}:"  %>
  <strong><%= if @class_room_institute.available_tuesday then '✓' end %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.available_friday')}:"  %>
  <strong><%= if @class_room_institute.available_friday then '✓' end %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.available_saturday')}:"  %>
  <strong><%= if @class_room_institute.available_saturday then '✓' end %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.available_sunday')}:"  %>
  <strong><%= if @class_room_institute.available_sunday then '✓' end %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.hours_disp')}:"  %>
  <strong><%= @ctl_available_time %></strong>
</p>

<p>
  <%= "#{t('body.gidappf_entity.class_room_institute.attributes.vacancies_disp')}:"  %>
  <strong><%= @ctl_capacity %></strong>
</p>

<%= link_to t('body.common_entity.action.edit'), edit_class_room_institute_path(@class_room_institute) %> |
<%= link_to t('body.common_entity.action.back'), class_room_institutes_path %>
