<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @class_room_institute.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @class_room_institute.description %>
</p>

<p>
  <strong>Ubication:</strong>
  <%= @class_room_institute.ubication %>
</p>

<p>
  <strong>Available from:</strong>
  <%= @class_room_institute.available_from %>
</p>

<p>
  <strong>Available to:</strong>
  <%= @class_room_institute.available_to %>
</p>

<p>
  <strong>Available monday:</strong>
  <%= @class_room_institute.available_monday %>
</p>

<p>
  <strong>Available tuesday:</strong>
  <%= @class_room_institute.available_tuesday %>
</p>

<p>
  <strong>Available wednesday:</strong>
  <%= @class_room_institute.available_wednesday %>
</p>

<p>
  <strong>Available thursday:</strong>
  <%= @class_room_institute.available_thursday %>
</p>

<p>
  <strong>Available friday:</strong>
  <%= @class_room_institute.available_friday %>
</p>

<p>
  <strong>Available saturday:</strong>
  <%= @class_room_institute.available_saturday %>
</p>

<p>
  <strong>Available sunday:</strong>
  <%= @class_room_institute.available_sunday %>
</p>

<p>
  <strong>Available time:</strong>
  <%= @ctl_available_time %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @ctl_capacity %>
</p>

<%= link_to 'Edit', edit_class_room_institute_path(@class_room_institute) %> |
<%= link_to 'Back', class_room_institutes_path %>
