<p id="notice"><%= notice %></p>

<h1><%= t('body.gidappf_entity.profile.action.index.student') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('body.gidappf_entity.profile.attributes.name') %></th>
      <th><%= t('body.gidappf_entity.profile.attributes.description') %></th>
      <th><%= t('body.gidappf_entity.profile.attributes.valid_to') %></th>
      <th><%= t('body.gidappf_entity.profile.attributes.valid_from') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to "#{profile.name}", profile %></td>
        <td><%= profile.description.first(50)+"…" %></td>
        <td><%= profile.valid_to.strftime("%d/%m/%Y") %></td>
        <td><%= profile.valid_from.strftime("%d/%m/%Y") %></td>
        <td><%= link_to t('body.common_entity.action.edit'), edit_profile_path(profile) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div><%= link_to t('body.gidappf_entity.profile.models'), profiles_path %> | <%= link_to t('body.gidappf_entity.current_commission.link'), time_sheet_hours_current_commissions_path %> </div>
