<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @information.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @information.summary %>
</p>

<p>
  <strong>Grouping:</strong>
  <%= @information.grouping %>
</p>

<p>
  <strong>Enable:</strong>
  <%= @information.enable %>
</p>

<p>
  <strong>Author:</strong>
  <%= @information.author %>
</p>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
