<!-- ########################################################################## -->
<!-- # Universidad Nacional Arturo Jauretche                                  # -->
<!-- # Instituto de Ingeniería y Agronomía -Ingeniería en Informática         # -->
<!-- # Práctica Profesional Supervisada Nro 12 - Segundo cuatrimestre de 2018 # -->
<!-- #    <<Gestión Integral de Alumnos Para el Proyecto Fines>>              # -->
<!-- # Tutores:                                                               # -->
<!-- #    - UNAJ: Dr. Ing. Morales, Martín                                    # -->
<!-- #    - ORGANIZACIÓN: Ing. Cortes Bracho, Oscar                           # -->
<!-- #    - ORGANIZACIÓN: Mg. Ing. Diego Encinas                              # -->
<!-- # Autor: Ap. Daniel Rosatto <danielrosatto@gmail.com>                    # -->
<!-- # Archivo GIDAPPF/gidappf/app/views/campus_magnaments/_table1.html.erb   # -->
<!-- ########################################################################## -->
<h3><%= title %></h3>
<table>
  <thead>
     <tr>
      <th><%= params[:profile_type].first(params[:profile_type].index("@")).capitalize + ":" %></th>
      <th colspan=".<%= comms_period.count.to_s %>." >Commission:</th>
     </tr>
  </thead>

  <tbody remote="true">
    <% profiles_period.each do |p| %>
      <tr>
        <td><%= link_to "#{p.name}", profile_path(id: p.id) %></td>
        <td>
          <% p.documents.first.user.usercommissionroles.each do |ucr| %>
            <div class="field"><%= "- #{p.documents.first.user.usercommissionroles.index(ucr)+1}. #{ucr.role.name} at commission: #{ucr.commission.name} -" %></div>
            <div class="field">
              <% comms_period.each do |ts| %>
                <!-- redirecciona a la accion selected_commission con los parametros id y box_selected con valores dados por check_box_tag -->
                <%= check_box_tag(
                    "p_"+ p.id.to_s+"_"+:box_selected.to_s+"_"+ts.id.to_s,
                    ucr.commission_id,ts.commission.id == ucr.commission_id,
                    onclick: "$(document).ready(function() {
                        window.location.href='"+
                          campus_magnaments_set_campus_segmentation_path(
                            id: p.id,box_selected: ts.id.to_s,
                            def_period: params[:def_period],
                            profile_type: params[:profile_type],
                            ucr_id: ucr.id)+
                        "'});",
                    :disabled  => ts.selectable?) %>
                <%= label_tag(ts.commission_info) %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
